/* Table of Contents
-------------------------------
- General styles
- Header
- 1. Hello
- 2. Writing
- 3. Visual
- Footer
------------------------------*/

/* General Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #BCCBD3;
  color: #293448;
  font-family: 'Raleway', sans-serif;
}

.contentwrapper{
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3{
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h2{
  letter-spacing: 0.2em;
  padding: 2% 0;
  font-size: 1.5em;
}

p{
  font-weight: 500;
  font-size: 0.9em;
}

a:link{
  color: #293448;
  text-decoration: none;
}

a:visited{
  color: inherit;
}

a:hover{
  color: #FBCFCD;
}

/* Blobs
---------- */
#one{
  position: absolute;
  top: 60%;
  width: 200px;
  height: auto;
  z-index: -1;
}

#two{
  position:absolute;
  top: 80%;
  right: 0;
  width: 150px;
  height: auto;
  z-index: -1;
}

#three{
  position:absolute;
  top: 150%;
  width: 180px;
  height: auto;
  z-index: -1;
}


/* Header
-----------------------*/
header{
  background-color: inherit;
  text-transform: uppercase;
  padding: 1% 2%;
  width: 100%;
  position:fixed;
}

header a {
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
}

.toplinks {
  display: inline-flex;
  float: right;
}

.toplinks ul {
  list-style-type: none;
}

.toplinks ul li {
    display: inline-block;
}

/* 1. Hello
----------------------------*/
.hello{
  padding: 10% 0 8% 0;
}

.hello h1{
  padding: 3% 0;
  text-align: center;
  font-size:1.8em;
  letter-spacing:0.03em;
}

.hello mark{
  background-color: #CD9FA9;
  padding: 3px 15px;
}

.socialmedia{
  padding: 5% 0;
  text-align:center;
  font-size:2em;
  letter-spacing:0.2em;
  text-decoration: none;
}


/* 2. Writing
-------------------------------- */
.writing{
  padding:3% 0;
}

.writing .button{
  text-align:center;
  padding:5% 0;
}

.writing a{
  padding: 15px 30px 15px 30px;
  border-radius: 12px;
  background-color: #FBCFCD;
}

.writing a:hover{
  color:#fff;
}

/* 3. Visual
--------------------------------- */
.visual{
  padding: 3% 0;
}

.visual h3 a{
  color: #BB0000;
  text-decoration: underline;
}

#tahoe{
  width: 200px;
  height: auto;
}

#theatre{
  width: 200px;
  height: auto;
}

/* Footer */
footer{
  padding: 4% 0;
  text-align:center;
}
