/* Table of contents
-------------------------------------
- General content
- Base styles
- Typography
- Header & Navigation
- Images and media
- Footer
- Media Queries
-----------------------------------*/

/* General content */
.row{padding:2% 0;}
section {padding:5% 0;}

body{
  background-color: #305985;
}

/* Typography
-----------------------------------*/
header{
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight:100;
  font-size:1em;
}

body{
  font-family: 'Raleway';
  font-size: 1.5em;
  color: #FBCFCD;
}

h1{
  font-family: 'Playfair Display';
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.15em;
  color:#FBCFCD;
}

div.intro{
  font-family: 'Playfair Display';
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

h2{
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight:300;
  font-size:1em;
  text-align: center;
}

span.about, span.education, span.writing1, span.visuals {
  font-family: 'Raleway', sans-sans-serif;
  font-weight:200;
  font-size:1em;
}

div.socialmedia{
  padding:2% 0;
  text-align:center;
  letter-spacing:0.2em;
  font-size:2.5em;
  color:#FBCFCD;
}

/* Header & Navigation
-----------------------------------*/
header{
  padding:2% 2%;
  background-color: #305985;
  /* ADD A DOCKING NAVIGATION --*/
}

.navi.ul.li{
  list-style-type:none;
  display:inline;
  padding:0;
  margin:0;
}

/* Images and media
-----------------------------------*/
img{max-width: 100%;}
img:hover{opacity:0.8}


/* Footer
-----------------------------------*/



/* Media Queries
-----------------------------------*/
